/* root: seletor para elementos raiz do documento, usado para definir variaveis CSS Globais */
:root {
    --bg--dark: #0f111a;
    /* variavel para cor de fundo*/
    --bg--card: #1a1d2e;
    /* variavel de cor de fundo do card*/
    --primary-neon: #7b2ff7;
    /*variavel de cor neon primaria*/
    --segundary--neon: #00f2ff;
    /*variavel de cor neon segundaria*/
    --text-main: #ffff;
    /*variavel para cor do texto principal(branco)*/
    --text-dim: #a0a0a0;
    /*variavel para texto secundario (cinza)*/
    --transition: all 0.3s ease;
    /*variavel de transição suave de 0.3s*/

}

/*Removendo o css padrão do navegador*/

* {
    margin: 0;
    /* remove todas as margens externas*/
    padding: 0;
    /*Remover  todos od prrenchimentos internos*/
    box-sizing: border-box;
    /* Inclui padding e border na largura/altura total do elemento*/
}

html {
    scroll-behavior: smooth;
    /*Define a rolagem suave para âncoras*/
}

body {
    font-family: 'inter', sans-serif;
    /*Define a familia da font como primaria*/
    background-color: var(--bg--dark);
    /*Define a cor do fundo usando varivel*/
    color: var(--text-main);
    /* Definindo a cor do texto usando varivel*/
    line-height: 1.6;
    /*Define altura da linha para melhor legibilidade*/
    overflow-x: hidden;
    /*Esconde  overflow (barra horizontal)*/

}

/* Classe para o conteiner centralizado*/
.container {
    max-width: 1200px;
    /*Define largura maxima do container*/
    margin: 0 auto;
    /*centraliza o container horizontalmente */
    padding: 0 20px;
    /*Adicionar preenchimento lateral*/
}

/*Navbar
 Classe para barra de navegação
*/
.navbar {
    height: 80px;
    /*Define Altura fixa da navbar*/
    display: flex;
    /* usa flexbox para o layout*/
    align-items: center;
    /*Alinha os itens verticalmente ao centro*/
    background-color: rgba(15, 17, 26, 0.95);
    /*Cor de fundo semi- transparente escuro*/
    position: sticky;
    /*Fixar o navbar no topo durante a rolagem*/
    top: 0;
    /*Posiciona o topo do viewport*/
    z-index: 1000;
    /*Garante que o navbar fique acima dos outros elementos */
    border-bottom: 1px solid #2a2d3e;
}

/*flex-nav 
    Classe para o layout flexivel da navegação
*/
.flex-nav {
    display: flex;
    /*Flexbox para alinhamento*/
    justify-content: space-between;
    /* justificar o espaço entre os elementos (itens) igualmente*/
    align-items: center;
    /*Alinhas os itens vericallmente ao centro*/
    width: 100%;
    /*largura total*/
}

/*Logo*/
.logo {
    font-size: 1.5rem;
    /*tamanhoo de font maior*/
    font-weight: 700;
    /*Peso da fonte*/
    letter-spacing: -1px;
    /*Espaçamento entre as letras fica reduzido*/
}

/*Logo span  estiliza a parte do logo colorida*/
.logo span {
    color: var(--primary-neon);
    /* Cor do texto usando variavel*/
}

/*Lista de menu de navegação*/
.nav-menu ul {
    display: flex;
    /*layout flexível horizontal*/
    list-style: none;
    /* Remover os marcadores da lista*/
}

/*Links do menu*/
.nav-menu ul li a {
    color: var(--text-dim);
    /*Cor do texto usando variavel*/
    text-decoration: none;
    /* Remove o Sublinhado*/
    margin: 0 15px;
    /* Espaçamento apenas nas laterais*/
    font-size: 0.9rem;
    /*fonte  no tamanho menor*/
    transition: var(--transition);
    /*transição suave*/
}

/*Estado de hover dos links*/
.nav-menu ul li a:hover {
    color: var(--segundary--neon);
    /*Cor do texto usando variavel*/
}

/*Botões*/
/*Classe dos botões de entrar e criar sua conta*/

.btn {
    padding: 10px 22px;
    /*Espaçamento interno*/
    border-radius: 8px;
    /*Bordas arredondadas*/
    text-decoration: none;
    /*remove o sublinhado*/
    font-weight: 600;
    /*Peso da font*/
    font-size: 0.9rem;
    /*Tamanho da fonte*/
    transition: var(--transition);
    display: inline-block;
    /*Exibe como um bloco em linha*/
}

.btn-neon {
    background: linear-gradient(135deg, var(--primary-neon), #9d50bb);
    /*cor de fundo*/
    color: #fff;
    /*cor de texto*/
    box-shadow: 0 4px 15px rgba(123, 47, 247, 0.3);
    /*Sombra colorida*/
}

.btn-neon:hover {
    transform: translateY(-2px);
    /*Move ligeiramente para cima*/
    box-shadow: 0 6px 20px rgba(123, 47, 247, 5);
    /*sombra maior no hover*/
}

/*Botão de login*/

.btn-outline {
    border: 1px solid var(--primary-neon);
    /*Borda usando a variavel*/
    color: #fff;
    /*cor do texto*/

}

.btn-outline:hover {
    background: rgba(123, 47, 247, 0.1);
}

/*Hero Section*/
/*.hero: classe para seção principal*/
.hero {
    padding: 100px 0; /*Preenchimento vertical*/
    min-height: calc(100vh - 80px); /*Altura minima da viewport menos o navbar (tamanho da tela)*/
    display: flex; /*flexbox para centralizar*/
    align-items: center; /*Alinhar os itens ao centro*/
}

/*.grid.hero: Grid para layout da seção hero*/
.grid-hero {
    display: grid; /*Usa CSS grid (para dividir em blocos iguais*/
    grid-template-columns: 1fr 1fr; /*duas de colunas iguais*/
    gap: 40px; /*espaçamento entre as colunas*/
    align-items: center; /*alinha os itens ao centro*/
}
/*Classe do texto gradiente*/
.text-gradiente {
    background: linear-gradient(to right, var(--primary-neon), var(--segundary--neon)); /*cor do gundo gradiente horizontal*/
    -webkit-background-clip: text; /*aplica gradiente ao texto*/
    -webkit-text-fill-color: transparent; /*torna texto transparente para montar o gradiente*/
    }

    /*Tituo da seção hero*/
    .hero-text h1 {
        font-size: 3.5rem; /*tamanho da font*/
        line-height: 1.1; /*altura da linha*/
        margin-bottom: 20px; /*espaçamento inferior*/
     }

     /*Paragrafo da seção*/
    .hero-text p {
        font-size: 1.1rem; /*Fonte tamanho médio*/
        color: var(--text-dim); /*cor do texto*/
        margin-bottom: 30px; /*espaçamento inferior*/
        max-width: 500px; /*maxima largura*/
    }

    .card-mockup {
        border-radius: 20px; /*borda arredondada*/
        position: relative; /*posicionamento relativo*/
    }

    .card-mockup img {
        width: 100%;
    }

/*Responsividade para outras telas (tamanhos de telas)*/

@media (max-width: 992px) {

    .nav-menu,
    .nav-btns {
        display: none;
        /*Oculta os elementos (menu)*/

    }

}